header{
    background: #184f00;   
}
.admin-wrapper{
    display: flex;
    height: calc(100% - 66px);
}
.admin-wrapper .left-sidebar{
    flex: 2;
    height: 100%;
    background: #66a847;
}
.admin-wrapper .left-sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;
}
.admin-wrapper .left-sidebar ul li a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid darkgreen;
}
.admin-wrapper .left-sidebar ul li a:hover{
    background: blue;
}
.admin-wrapper .admin-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow: scroll;
}
.admin-content .page-title{
    text-align: center;
    margin-bottom: 24px;
}
teble{
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}
th,td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid lightgreen;
}
.edit{
    color: #080704;
}
.delete{
    color: red;
}
.publish{
    color: blue;
}
.edit:hover,
.delete:hover,
.publish:hover{
    text-decoration: underline;
}

form div{
    margin-bottom: 15px;
}













